
* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA ;
    text-align:  center;
    margin: 0;
}

/*Základní verze do 640px*/
.okno {
    max-width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-align: center;
}

.hlavniobrazek {
    margin-top: 60px;
    margin-bottom:40px;
    max-width: 100%;
    height: auto;
    max-width: 100%;
}

h1 {
    font-size: 1.9rem;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 10px;
    margin-top:0;
}

h2 {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: bold;
    margin-top:40px;
}

.cara {
    width: 60px;
    height: 2px;
    background-color:#407BFF;
    border: none;
    margin-bottom: 40px;
}

.odstavec {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 300;
    color: #8B8B8B;
    margin-bottom: 20px; 
    }

.tlacitka {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
}
    
.prvni {
    font-size: 0.9rem;
    font-family: "Montserrat";
    color:white;
    background-color: #407BFF;
    border-radius: 20px;
    padding: 10px 30px;
    width: auto;
    max-width: 100%;
    margin-bottom: 0.8rem;
}

.druhe {
    font-size: 0.9rem;
    font-family: "Montserrat";
    color:white;
    background-color: #8B8B8B;
    border-radius: 20px;
    padding: 10px 30px;
    width: auto;
    max-width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 6px #407BFF1F;
    color: #8B8B8B;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1.2rem 1.2rem;
    border-radius: 10px;
}

/*Změny nad šířku 420px*/
@media screen  and (min-width: 420px) {
    .item {
        flex-direction: row;
    }

    .ikona {
        margin-right: 1rem;
    }
}

/*Změny pro tabletovou verzi*/
@media screen  and (min-width: 640px) {

    .container {
        display: flex;
    }

    .tlacitka {
        flex-direction: row;
        justify-content: center;
    }

    .druhe {
        margin-left: 10px;
    }

    .ikona {
        width:45px;
        height: 40px;
        margin-bottom:20px;
        margin-top: 40px;
        padding: 0 0;
    }

    .popisek {
        margin-top: 0px;
    }

    .item {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        margin:10px 10px;
    }

    .hlavniobrazek {
        width: 400px;
        height: 330px;
    }

    .odstavec {
        margin-left: 100px;
        margin-right: 100px;
    }
}


/*Změny pro desktop verzi*/
@media screen  and (min-width: 1100px) {

    .okno {
        display: block;
        padding-left: 70px;
        padding-right: 70px;
    }

    h1 {
        text-align: left;
    }

    .prvnitretina{
        display: flex;
        margin-bottom: 0;
    }

    .uvodnipanel {
        text-align:start;
        padding-top: 120px;
        width: 490px;
    }

    .tlacitka {
        justify-content: flex-start;
    }

    .hlavniobrazek {
        order: 1;
        max-width: 425px;
        height: auto;
        margin-bottom: 0;
        margin-left: 160px;
    }

    .druhatretina {
        display: flex;
        margin-top: 80px;
        align-items: center;
    }

    .tretitretina {
        display: flex;
        margin-top: 80px;
        margin-bottom: 80px;
        align-items: center;
    }

    .container {
        justify-content: space-between;
        width: 550px;
    }

    .uvodnitextkancelar {
        width: 450px;
        text-align: left;
        padding-left: 0;
        order: 1;
        margin-left: 60px;
    }

    .uvodnitextsluzby {
        width: 450px;
        text-align: left;
        margin-left: 0;
        margin-right: 60px;
    }

    .cara {
        margin-left: 0px;
    }

    .odstavec {
        padding-left: 0px;
        margin-left: 0;
        margin-right:0;
    }

    .prvni {
        margin-left: 0;
    }

    .popisek {
        margin-left: 2px;
        margin-right: 2px;
    }

    .ikona {
        margin-right: 1rem;
        margin-left: 1rem;
    }
   }



